{{- if .Values.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "agentweave.fullname" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "agentweave.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "agentweave.fullname" . }}
  minReplicas: {{ .Values.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.maxReplicas }}
  metrics:
    {{- if .Values.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if .Values.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ .Values.autoscaling.targetMemoryUtilizationPercentage }}
    {{- end }}
  {{- with .Values.autoscaling.scaleDown }}
  behavior:
    scaleDown:
      stabilizationWindowSeconds: {{ .stabilizationWindowSeconds }}
      policies:
        {{- toYaml .policies | nindent 8 }}
    {{- with $.Values.autoscaling.scaleUp }}
    scaleUp:
      stabilizationWindowSeconds: {{ .stabilizationWindowSeconds }}
      policies:
        {{- toYaml .policies | nindent 8 }}
    {{- end }}
  {{- end }}
{{- end }}
